/* ====== Members Settings Screen. ====== */

.settings_page_members-settings .welcome-panel {
	margin-top: 0;
	padding:    40px 20px;
}

.settings_page_members-settings .welcome-panel .about-description {
	margin: 20px 0;
}

.settings_page_members-settings .welcome-panel-content {
	margin: 0;
}

@media screen and (min-width: 870px) {

	.settings_page_members-settings .members-short-p {
		max-width: 612px;
		margin-left: auto;
		margin-right: auto;
	}

	.settings_page_members-settings .welcome-panel-content {
		text-align: center;
	}
}

.settings_page_members-settings .welcome-panel .button.button-hero {
	margin-left: auto;
	margin-right: auto;
}

.settings_page_members-settings .members-svg-wrap {
	display: inline-block;
	margin: 0 auto 20px;
}

@media screen and (max-width: 870px) {
	.settings_page_members-settings .welcome-panel {
		padding: 20px;
	}

	.settings_page_members-settings .members-svg-wrap {
		float: left;
		margin-right: 28px;
	}

	.settings_page_members-settings.rtl .members-svg-wrap {
		float: right;
		margin-right: 0;
		margin-left: 28px;
	}
}

.settings_page_members-settings .members-svg-link {
	display: table-cell;
	text-align: center;
	width: 128px;
	height: 128px;
	background: #363b3f;
	color: #fff;
	padding: 24px 16px 16px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 4px solid #ffffff;
	box-shadow: 0 0 0 4px #363b3f;
}

.settings_page_members-settings .members-svg-link svg {
	max-width: 84px;
	max-height: 64px;
	width: auto;
	height: auto;
}

/* ====== Manage Roles Screen. ====== */

@media only screen and ( min-width: 783px ) {

	.users_page_roles .column-users,
	.users_page_roles .column-granted_caps,
	.users_page_roles .column-denied_caps {
		width:      100px;
		text-align: center;
	}
}

/* ====== Edit/New Role Screen. ====== */

/* === Role and Role Name === */

.members-title-div #titlewrap input {
	padding:          0 8px;
	font-size:        1.7em;
	line-height:      normal;
	height:           1.7em;
	width:            100%;
	outline:          none;
	margin:           0 0 3px;
	background-color: #fff;
}

.members-title-div input[name="role"] {
	font-size: 13px;
	height:    22px;
	margin:    0;
	width:     16em;
}

/* === Edit Capabilities Tabs === */

/* Wrapper box */

#tabcapsdiv { margin-top: 1em; }

	#tabcapsdiv > .hndle {
		padding:       10px;
		border-bottom: 1px solid #eee;
	}

	#tabcapsdiv .inside,
	#members-cp .inside {
		margin:  0;
		padding: 0;
	}

/* Tabs wrapper. */

.members-cap-tabs,
.members-tabs {
	overflow:   hidden;
	background: #fff;
	background: linear-gradient( 90deg, #fafafa 0%, #fafafa 20%, #fff 20%, #fff 100% );
}

	@media only screen and ( max-width: 782px ) {

		.members-cap-tabs,
		.members-tabs {
			background: linear-gradient( 90deg, #fafafa 0%, #fafafa 48px, #fff 48px, #fff 100% );
		}
	}

	/* Tab nav. */

	.members-cap-tabs .members-tab-nav,
	.members-tabs .members-tab-nav {
		position:         relative;
		float:            left;
		list-style:       none;
		width:            20%;
		line-height:      1em;
		margin:           0 0 -1px 0;
		padding:          0;
		background-color: #fafafa;
		border-right:     1px solid #eee;
		box-sizing:       border-box;
	}

		.members-cap-tabs .members-tab-nav li,
		.members-tabs .members-tab-nav li {
			display:     block;
			position:    relative;
			margin:      0;
			padding:     0;
			line-height: 20px;
		}

			.members-cap-tabs .members-tab-nav li a,
			.members-tabs .members-tab-nav li a {
				display:         block;
				margin:          0;
				padding:         10px;
				line-height:     20px !important;
				text-decoration: none;
				border-bottom:   1px solid #eee;
				box-shadow:      none;
			}

				.members-cap-tabs .members-tab-nav li a .dashicons,
				.members-tabs .members-tab-nav li a .dashicons {
					line-height:  20px;
					margin-right: 3px;
				}

			.members-cap-tabs .members-tab-nav li[aria-selected="true"] a,
			.members-tabs .members-tab-nav li[aria-selected="true"] a {
				position:         relative;
				font-weight:      bold;
				color:            #555;
				background-color: #e0e0e0;
			}

	@media only screen and ( max-width: 782px ) {

		.members-cap-tabs .members-tab-nav,
		.members-tabs .members-tab-nav { width: 48px; }

		.members-cap-tabs .members-tab-nav li a .dashicons,
		.members-tabs .members-tab-nav li a .dashicons {
			width:       24px;
			height:      24px;
			font-size:   24px;
			line-height: 24px;
		}

			.members-tab-nav li .dashicons::before,
			.members-tab-nav li .dashicons::before {
				width:  24px;
				height: 24px;
			}

		.members-tab-nav li .label {
			overflow: hidden;
			position: absolute;
			top:      -1000em;
			left:     -1000em;
			width:    1px;
			height:   1px;
		}
	}

	/* Tab content wrapper */

	.members-cap-tabs .members-tab-wrap,
	.members-tabs .members-tab-wrap {
		float:       left;
		width:       80%;
		margin-left: -1px;
	}

	@media only screen and ( max-width: 782px ) {

		.members-cap-tabs .members-tab-wrap,
		.members-tabs .members-tab-wrap {
			width: calc( 100% - 48px );
		}
	}

#members-cp .members-tab-content {
	padding: 10px;
	border-left: 1px solid #e5e5e5;
}

/* === Manager when in the side meta box. === */

@media only screen and ( min-width: 850px ) {

	#side-sortables .members-tabs { background: #fff; }

	#side-sortables .members-tabs .members-tab-wrap { width: 100%; }

	#side-sortables .members-tabs .members-tab-nav {
		display: table;
		width:   100%;
	}

		#side-sortables .members-tabs .members-tab-nav li {
			display:      table-cell;
			text-align:   center;
			border-right: 1px solid #eee;
		}

			#side-sortables .members-tabs .members-tab-nav li:last-of-type { border-right: none; }

		#side-sortables .members-tabs .members-tab-nav li a {
			padding:     10px 0;
		}

		#side-sortables .members-tabs .members-tab-nav .dashicons {
			width:       24px;
			height:      24px;
			font-size:   24px;
			line-height: 24px;
		}

			#side-sortables .members-tabs .members-tab-nav .dashicons::before {
				width:  24px;
				height: 24px;
			}

			#side-sortables .members-tabs .members-tab-nav .label {
				overflow: hidden;
				position: absolute;
				top:      -1000em;
				left:     -1000em;
				width:    1px;
				height:   1px;
			}
	}


	.members-tabs .members-tabs-label {
		display       : block !important;
		font-weight   : bold;
		display       : inline-block;
		margin-bottom : 4px;
	}

		.members-tabs .butterbean-control-checkbox .members-tabs-label {
			display: inline !important;
		}

	.members-tabs .members-tabs-description {
		display       : block;
		font-style    : italic;
		margin-top    : 4px;
	}

		.members-tabs .members-tabs-label + .members-tabs-description {
			margin-top    : 0;
			margin-bottom : 4px;
		}

/* Tab tables. */

#tabcapsdiv table {
	border-right:  none;
	border-top:    none;
	border-bottom: none;
}

	/* Tabs table columns. */

	#tabcapsdiv table td,
	#tabcapsdiv table th {
		padding: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
		font-size: 13px;
		line-height: 20px;
	}

	#tabcapsdiv table td { padding: 9px; }

	#tabcapsdiv tbody tr:last-of-type td { border-bottom: none; }

	#tabcapsdiv tfoot th { border-color: #eee; }

	@media only screen and ( max-width: 782px ) {

		#tabcapsdiv table td,
		#tabcapsdiv table th {
			line-height: 24px;
		}
	}

	/* Grant/Deny columns. */

	.members-roles-select .column-grant,
	.members-roles-select .column-deny {
		width:      70px !important;
		text-align: center;
		display:    table-cell !important;
		clear:      none !important;
	}

	/* Cap grant/deny button. */

	.members-cap-tabs button {
		display: inline;
		margin:        -4px;
		line-height:   inherit;
		padding:       4px 8px;
		border:        1px solid transparent;
		background:    transparent;
		border-radius: 0;
		outline:       none;

			-webkit-transition: all 0.25s ease-out;
			   -moz-transition: all 0.25s ease-out;
			      -o-transition:  all 0.25s ease-out;
			        transition: all 0.25s ease-out;
	}

		.members-cap-tabs button:hover,
		.members-cap-tabs button:focus {
			border-color: #eee;
			background:   #fafafa;
			cursor:       pointer;
		}

		.members-cap-tabs button:active {
			color:        #0073aa;
			border-color: #0073aa;
		}

		.members-cap-tabs button + .dashicons {
			display:       none;
			margin-top:    1px;
			margin-bottom: -1px;
			line-height:   inherit;
		}

			.members-cap-tabs button:hover + .dashicons,
			.members-cap-tabs button:focus + .dashicons {
				display: inline-block;
			}


	/* New cap highlight */

	.members-tab-content .members-highlight {
		background-color: rgba( 0, 115, 170, 0.05 );
	}

	.members-tab-content tbody {
		-webkit-transition: all 2s ease-in-out;
		   -moz-transition: all 2s ease-in-out;
		      -o-transition:  all 2s ease-in-out;
			transition: all 2s ease-in-out;
	}

/* ====== Edit Post ====== */

/* Role checkboxes in the Content Permissions meta box. */

.members-cp-role-list-wrap {
	overflow:         auto;
	min-height:       42px;
	max-height:       200px;
	padding:          0 0.9em;
	border:           solid 1px rgb(223, 223, 223);
	background-color: rgb(253, 253, 253);
}
